
.containerOne {
    border: 2px solid black;
    height: 300px;
    display: block;
    background-color: #1f2937;
}

.rowOne {
    display: inline;
    height: 75px;
}

.headerLogo {
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 110px;
    padding-top: 15px;
}


.headerLink {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-left: auto;
    padding-right: 110px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}


.rowTwo {
    display: inline;
    color: white;
}

.welcome {
    width: 400px;
}

.image {
    width: 500px;
}
